.wrapper{
width: 1440px;
border: 1px solid red;
}
/* header */
header{
  width: 100%;
  /* height: 91px; */
  border: 1px solid green;
  display: flex;
  align-items: center;
  align-items: center;
}
.header-right-menu{
  display: flex;
  align-items: center;
}
.site-nav-list{
  display: flex;
  align-items: center;
  list-style: none;
}

.items{
  color:#000000;
  text-decoration-color: #FF7500;
 font-family: 'Roboto', sans-serif;
text-transform: uppercase;
font-size: 13px;
line-height: 15px;
letter-spacing: 1px;


}
.underline{

color: #000000;
font-family: 'Roboto', sans-serif;
font-size: 13px;
line-height: 15px;
letter-spacing: 1px;
text-decoration:none ;


}
.section-one{
  /* display: flex; */
  width: 1440px;

  background-color: #252420;
}
.section-left-main{
  width: 387px;

}
.section-header{
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(255, 255, 255, 1);
  width: 339px;

  /* height: 96px; */
  text-align: center;
}
.section-p{
  color: #FFFFFF;
  width: 387px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;

  /* height: 96px; */
  text-align: center;
}
.bottom{
  width: 152px;
  /* height: 39px; */
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  background-color: #FF7500;
 text-align: center;


}
.bottom-text{
  color: #FFFFFF;
  text-decoration: none;

}

.section-hr{
  background-color: #FF7500;
  width: 80px;
  height: 3px;
}

/* section two */
.section-two{
width: 1440px;

}

.section-header-two{
  width: 435px;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", sans-serif;

}
.section-text{
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", sans-serif;


}
.icons-block{
  width: 1100px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  /* height: 245px; */
}
.li-block{
  width: 340px;
  height: 245px;
}
.icons{
width: 100px;
height: 100px;
background-color: rgba(255, 117, 0, 0.2);
}
h3{
  font-size: 24px;
}
.section-two-p{
  width: 314px;
   font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
 /* height: 72px; */


}

/* section-three */
.section-bottom{
display: flex;
justify-content: space-between;
align-items: center;
width: 1100px;
background-color: #252420;

}
.section-bottom-two{

}
.section-bottom-h{
  /* width: 373px; */
  /* height: 96px; */
font-size: 40px;
line-height: 48px;
font-family:  "Roboto Condensed", sans-serif;
color: #FFFFFF;
}
.section-bottom-p{
  /* width: 440px; */
  height: 108px;
color: #FFFFFF;

}
.section-bottom-p>p{
  font-size: 16px;
  line-height: 24px;
letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;

}


/* footer */
.footer{

  /* height: 507px; */
}
.footer-logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials{
  display: flex;
  align-items: center;
  list-style:none;
}
.footer-list{
  list-style: none;
}
.footer-wrap{
  display: flex;
}
.footer-left{
  /* width: 224px; */
  /* height: 159px; */
}
.footer-two{
/* width: 224px; */
/* height: 229px; */
}
.footer-three{
/* width: 224px; */
/* height: 89px; */
}
.footer-four{
  /* width: 224px; */
  /* height: 89px; */
}