.wrapper{
width: 1440px;
border: 5px solid red;
}
/* header */
header{
  width: 100%;
  /* height: 91px; */
  border: 1px solid green;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;

}
.logo-link{
  transition: opacity 0.4s ease;
}
.logo-link:hover{
  opacity: 0.8;
}
.logo-link:active{
  opacity: 0.6;
}
.header-right-menu{
  display: flex;
  align-items: center;
}
.site-nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;

}




.items{
  color:#000000;
  text-decoration-color: #FF7500;
 font-family: 'Roboto', sans-serif;
text-transform: uppercase;
font-size: 13px;
line-height: 15px;
letter-spacing: 1px;
transition: color 0.4s ease,
 opacity 0.6s ease;


}
.items:hover{
  color: #FF7500;
}
.items:active{
  opacity: 0.6;
}
.underline{

color: #000000;
font-family: 'Roboto', sans-serif;
font-size: 13px;
line-height: 15px;
letter-spacing: 1px;
text-decoration:none ;
transition: color 0.4s ease;
}
.underline:hover{
  color: #FF7500;

}
.underline:after{
  opacity: 0.6;
}
.section-one{
  display: flex;
  align-items: center;
  width: 1440px;

  background-color: #252420;
}
.section-left-main{
  width: 387px;

}
.section-header{
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(255, 255, 255, 1);
  width: 339px;

  /* height: 96px; */
  text-align: center;
}
.section-p{
  color: #FFFFFF;
  width: 387px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;

  /* height: 96px; */
  text-align: center;
}
.bottom{
  width: 152px;
  display: inline-block;
  /* height: 39px; */
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  padding: 12px 24px 12px 24px;
  font-family: "Roboto", sans-serif;
  background-color: #FF7500;
  border-radius: 4px;
 text-align: center;
 transition: opacity 0.4s ease;


}
.python-img{
  width: 510px;
  height: 510px;
  border-radius: 8px;
}
.bottom:hover{
  opacity: 0.8;
}
.bottom:active{
  opacity: 0.6;
}
.bottom-text{
  color: #FFFFFF;
  text-decoration: none;

}
.bottom-text:active{

}

.section-hr{

  width: 80px;
  height: 3px;
  background-color: #FF7500;
  border: none;
}

/* section two */
.section-two{
width: 1440px;
padding-top: 210px;
padding-bottom: 210px;

}

.section-header-two{
  width: 435px;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", sans-serif;

}
.section-text{
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", sans-serif;


}
.icons-block{
  width: 1100px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  /* height: 245px; */
}
.li-block{
  width: 340px;
  height: 245px;
}
.icons{
width: 100px;
height: 100px;

border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(255, 117, 0, 0.2);
}
.icons-icon{
  width: 56px;
  height: 56px;
}
h3{
  font-size: 24px;
}
.section-two-p{
  width: 314px;
   font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
 /* height: 72px; */


}

/* section-three */
.section-bottom{
display: flex;
justify-content: space-between;
align-items: center;
width: 1100px;
border-radius: 12px;
/* padding-top: 120px;
padding-bottom: 160px; */
background-color: #252420;

}
.img-book{
  width: 440px;
  height: 440px;
  border-radius: 12px;
}
.section-bottom-two{

}
.section-bottom-h{
  /* width: 373px; */
  /* height: 96px; */
font-size: 40px;
line-height: 48px;
font-family:  "Roboto Condensed", sans-serif;
color: #FFFFFF;
}
.section-bottom-p{
  /* width: 440px; */
  height: 108px;
color: #FFFFFF;

}
.section-bottom-p>p{
  font-size: 16px;
  line-height: 24px;
letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;

}


/* footer */
footer{
padding-top: 56px;
padding-bottom: 56px;
  /* height: 507px; */
}
.footer-logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials{
  display: flex;
  align-items: center;
  list-style:none;
  padding: 0;
}
.socials a{
  color: #252420;
}
.socials a:hover{
 color: #FF7500;
}
.socials a:active{
  opacity: 0.6;
 }

.footer-list{
  list-style: none;
  padding: 0;

}
.footer-wrap{
  display: flex;
  justify-content: space-evenly;
}
.footer-left{
  /* width: 224px; */
  /* height: 159px; */

}
.footer-two{
/* width: 224px; */

/* height: 229px; */
}
.footer-three{

/* width: 224px; */
/* height: 89px; */
}
.footer-four{

  /* width: 224px; */
  /* height: 89px; */
}